body {
  background-color: rgb(26, 46, 107);
  color: aliceblue;
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  flex: 1;
}
h1{
  flex: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h3{
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

